<div class="container col-md-6 text-center my-5">
    <table id="table" class="table table-dark table-hover">
        <thead>
            <th>Product Name</th>
            <th>Product ID</th>
            <th>Release Date</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor='let product of deldatas'>
                <td>{{product.productName}}</td>
                <td>{{product.productId}}</td>
                <td>{{product.releaseDate}}</td>
                <td><button id="btn" class="btn btn-primary" (click)="delproduct(product._id)">DELETE</button></td>
            </tr>
        </tbody>
    </table>
</div> 
